.MyGym_plan {
  width: 100%;
  margin-left: 3%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.MyGym_plan button {
  width: 40%;
  height: 110px;
  margin: 0.8rem;
  background-size: 100%;
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  padding: 1px;
  border: none;
  border-radius: 10px;
}
