.Wrapper {
  font-family: var(--font-family);
  padding: 12px 10px;
  margin: 8px 0;
}

.about_h2 {
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 18pt;
  font-weight: 500;
}
.about_h4 {
  margin-left: 1.5rem;
  font-size: 14pt;
  font-weight: normal;
}
